P{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(232, 223, 223);
}
header{
    background-color: rgb(111, 51, 195);
}
h1{
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    margin-top: 10px;
    padding-top:10px ;
    text-align:center ;
}
nav{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 8px;
    
}
nav a{
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
   
}
main{
    padding: 10px;
}
main section{
    border: 1px solid rgb(24, 23, 24);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
nav a:hover{
    color: green;
    text-decoration: underline;
}
section img:hover{
color: aqua;
text-decoration: underline;
border: 2px dotted green;
}
section p {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    color:rgb(111, 51, 195) ;
    word-spacing: 1.7px;
}
section img{
   
    height:auto ;
    width: auto;
    gap:5px ;
    margin: 10px;
}
footer{
    background-color:rgb(111, 51, 195) ;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
h3{
    padding-left: 15px;
    text-transform: capitalize;
    color:rgb(111, 51, 195) ;
    font-weight: bold;
}